{% extends 'base.html.twig' %}
    {% block title %}High Scores{% endblock %}

    {% block body %}
    <h1>HIGH SCORES</h1>

    {% if admin == true %}
    <h3>Admin view</h3>
    <a href="/">Exit Admin View</a>
    {% else %}
    <a href="/admin">Admin View</a>
    {% endif %}

    <br>
    <hr>
    Search Data by Name:
    <br>
    <input type="text" id="search-name" onkeyup="search('search-name')" placeholder="Search by name..."/>
    <br>
    <br>
    Search Data by Difficulty:
    <br>
    <select id="search-difficulty" onchange="search('search-difficulty')">
        <option value="Any">Any</option>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
    </select>
    <hr>

    {% if scores %}
        <table id="scores" class="table table-striped">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Position <i class="fa fa-chevron-up" aria-hidden="true"></i> <i class="fa fa-chevron-down" aria-hidden="true"></i></th>
                    <th onclick="sortTable(1)">Name <i class="fa fa-chevron-up" aria-hidden="true"></i> <i class="fa fa-chevron-down" aria-hidden="true"></i></th>
                    <th onclick="sortTableDifficulty()">Difficulty <i class="fa fa-chevron-up" aria-hidden="true"></i> <i class="fa fa-chevron-down" aria-hidden="true"></i></th>
                    <th onclick="sortTableScore()">Score <i class="fa fa-chevron-up" aria-hidden="true"></i> <i class="fa fa-chevron-down" aria-hidden="true"></i></th>

                    {% if admin %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                    <tr>
                        <td></td>
                        <td>{{score.name}}</td>
                        <td>{{score.difficulty}}</td>
                        <td>{{score.score}}</td>
                        {% if admin %}
                            {% if score.authorised != 1 %}
                                <td>
                                    <a href="/score/authorise/{{score.id}}" class="btn btn-primary">Authorise</a>
                                    <a href="#" class="btn btn-danger delete-score" data-id="{{score.id}}">Delete</a>
                                </td>
                            {% else %}
                                <td>
                                    <a href="#" class="btn btn-danger delete-score" data-id="{{score.id}}">Delete</a>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No scores to display</p>
    {% endif %}

    {% if admin == false %}
        <h4>New Score:</h4>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
//Searching by field
function search(field) {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById(field);
    filter = input.value.toUpperCase();
    table = document.getElementById("scores");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 1; i < tr.length; i++) {
        if(field == "search-name"){
            td = tr[i].getElementsByTagName("td")[1];
        }else if(field == 'search-difficulty'){
          td = tr[i].getElementsByTagName("td")[2];
        }
        if (td) {
            txtValue = td.textContent || td.innerText;

            //console.log("Filter: " + filter);
            //Show all rows if 'Any' has been selected
            if(filter != "ANY"){
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }else{
                tr[i].style.display = "";
            }
        }
    }
}
</script>
{% endblock %}